#root {
    background: radial-gradient(circle, #002fff, #001d9e);
    background-size: 100%;
    min-height: 82vh;
    border-bottom-left-radius: 50% 70%;
    border-bottom-right-radius: 50% 70%;
    box-shadow: 0px 0px 7px black;
}

ul {
    list-style: none;
}

.btn-outline-blue {
    color: rgb(33,12,185);
    border-color: rgb(33,12,185);
    background-color: inherit;
}

.btn-outline-blue:hover {
    color: #f8f9fa;
    border-color: rgb(33,12,185);
    background-color: rgb(33,12,185);
}

#customline {
    background-color: #ffc107;
}

/*home*/
#helpcontainer {
    max-height: 35vh;
    overflow-y: scroll;
}

#questions {
    height: 33vh;
    overflow-y: scroll;
}

/*navbar*/
#navbar {
    position: fixed;
    width: 99.4vw;
    top: 0;
    z-index: 1;
}

#hatter {
    height: 43px;
    width: 99.4vw;
    z-index: -1;
}

.nav {
    background-color: #f8f9fa;
    margin-top: -43px;
    top: 0;
    width: 99.4vw;
}

.nav-link {
    color: goldenrod;
}

.nav-link:hover {
    color: #ffc107;
}

a.current {
    font-weight: bold;
}

/*tananyagok*/
p::first-letter {
    color: goldenrod;
}

p {
    font-weight: bold;
}

#learn {
    max-height: 60vh;
    overflow-y: scroll;
}

/*profil*/
.profilCard {
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 2%;
}

#nev {
    font-weight: bold;
    font-size: 40px;
}

#tableselect {
    width: 50vw;
}

#users {
    max-height: 150px;
    overflow-y: scroll;
}

/*vizsgak*/
select {
    min-height: 40px;
    text-align: center;
    vertical-align: center;
    border: none;
    border-bottom: 1px solid rgb(33,12,185);
    color: rgb(33,12,185);
    background-color: inherit;
    cursor: pointer;
}

option {
    background-color: #f8f9fa;
    color: rgb(33,12,185);
}

input[type="file"] {
    color: rgb(33,12,185);
    margin-right: 35%;
    margin-left: 35%;
    width: 35%;
    padding: 0 !important;
}

::-webkit-file-upload-button {
    text-align: center;
    vertical-align: center;
    color: rgb(33,12,185);
    border: none;
    border-bottom: 1px solid rgb(33,12,185);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: inherit;
    height: 40px;
    outline: none;
    cursor: pointer;
}

.react-pdf__Page__canvas {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    margin-top: 5vh;
}

#modify {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 2%;
}

/*form animation*/
.form-group {
    width: 90%;
    height: 50px;
    position: relative;
    align-items: center;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: inherit;
}

.form-group label {
    color: rgb(33,12,185);
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(33,12,185);
}

.form-group label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ffc107;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

form input:focus + .label-name .content-name,
form input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 14px;
    color: rgb(33,12,185);
}

form input:focus + .label-name::after,
form input:valid + .label-name {
    transform: translateX(0%);
}

/*checkbox*/
.checker{
    border: 2px solid rgb(33,12,185);
    color: rgb(33,12,185);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

#check{
    display: none;
}

.check-bg{
    background: rgb(33,12,185);
    color: white;
    font-weight: bold;
}

/*radio*/
.radio label input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.radio label .icon {
    position: relative;
    width: 30px;
    height: 30px;
    top: 4px;
    line-height: 30px;
    text-align: center;
    margin: 0 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
    color: #ffc107;
}

.radio label .icon:hover {
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8),
                inset -2px -2px 10px rgba(255,255,255,0.05),
                inset 2px 2px 10px rgba(0,0,0,0.5);
}

.radio label input:checked ~ .icon {
    color: rgb(33,12,185);
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,1);
}

/*toggle*/
#toggle {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    background: rgb(220, 53, 69);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 4px 30px rgba(0,0,0, 0.2),
                inset 0 4px 4px rgba(0,0,0, 0.2),
                inset 0 -2px 2px rgba(0,0,0, 0.2);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: rgba(248, 249, 250,0.9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(220, 53, 69, 0.3),
                inset 0 8px 8px rgba(220, 53, 69, 0.3),
                inset 0 -8px 8px rgba(220, 53, 69, 0.3);
    transition: 0.5s;
    pointer-events: none;
}

#toggle.active {
    background: rgb(40, 167, 69);
    box-shadow: inset 0 4px 30px rgba(0,0,0, 0.2),
                inset 0 4px 4px rgba(0,0,0, 0.2),
                inset 0 -2px 2px rgba(0,0,0, 0.2);
}

#toggle.active .indicator {
    left: 40px;
    box-shadow: 0 8px 40px rgba(40, 167, 69, 0.3),
                inset 0 8px 8px rgba(40, 167, 69, 0.3),
                inset 0 -8px 8px rgba(40, 167, 69, 0.3);
}

/*page transition fade animation*/
.page {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

.fade-appear, .fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms linear;
}

/*load animation*/
#loadlogo path {
    stroke-dasharray: 1349;
    stroke-dashoffset: 1349;
    animation: logo-animation 3s ease;
    animation-iteration-count: infinite;
}

@keyframes logo-animation {
    to {
        stroke-dashoffset: 0;
    }
}

#loadlogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadcontainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 3;
}