body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='866' height='866' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23150877'/%3E%3Cstop offset='1' stop-color='%23220cbe'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%238f8f8f'/%3E%3Cstop offset='0.09' stop-color='%23b3b3b3'/%3E%3Cstop offset='0.18' stop-color='%23c9c9c9'/%3E%3Cstop offset='0.31' stop-color='%23dbdbdb'/%3E%3Cstop offset='0.44' stop-color='%23e8e8e8'/%3E%3Cstop offset='0.59' stop-color='%23f2f2f2'/%3E%3Cstop offset='0.75' stop-color='%23fafafa'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='0.51' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
}

ul {
    list-style: none;
}

.btn-outline-blue {
    color: rgb(33,12,185);
    border-color: rgb(33,12,185);
    background-color: inherit;
}

.btn-outline-blue:hover {
    color: #f8f9fa;
    border-color: rgb(33,12,185);
    background-color: rgb(33,12,185);
}

#customline {
    background-color: #ffc107;
}

/*home*/
#helpcontainer {
    height: 35vh;
    overflow-y: scroll;
}

#questions {
    height: 35vh;
    overflow-y: scroll;
}

/*navbar*/
#navbar {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

#hatter {
    height: 43px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(13,22,185), #000428);
    z-index: -1;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav {
    background-color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: -43px;
    top: 0;
}

.nav-link {
    color: goldenrod;
}

.nav-link:hover {
    color: #ffc107;
}

a.current {
    font-weight: bold;
}

/*tananyagok*/
p::first-letter {
    color: goldenrod;
}

p {
    font-weight: bold;
}

#learn {
    max-height: 25%;
    overflow-y: scroll;
}

/*profil*/
#nev {
    font-weight: bold;
    font-size: 40px;
}

#tableselect {
    width: 50vw;
}

/*vizsgak*/
select {
    height: 40px;
    text-align: center;
    vertical-align: center;
    border: none;
    border-bottom: 1px solid rgb(33,12,185);
    color: rgb(33,12,185);
    background-color: inherit;
    cursor: pointer;
}

option {
    background-color: #f8f9fa;
    color: rgb(33,12,185);
}

input[type="file"] {
    color: rgb(33,12,185);
    margin-right: 35%;
    margin-left: 35%;
    width: 35%;
    padding: 0 !important;
}

::-webkit-file-upload-button {
    text-align: center;
    vertical-align: center;
    color: rgb(33,12,185);
    border: none;
    border-bottom: 1px solid rgb(33,12,185);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: inherit;
    height: 40px;
    outline: none;
    cursor: pointer;
}

.react-pdf__Page__canvas {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5vh;
    margin-top: 5vh;
}

#modify {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 2%;
}

/*form animation*/
.form-group {
    width: 90%;
    height: 50px;
    position: relative;
    align-items: center;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
    background-color: inherit;
}

.form-group label {
    color: rgb(33,12,185);
    position: absolute;
    bottom: -4px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid rgb(33,12,185);
}

.form-group label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #ffc107;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-name {
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

form input:focus + .label-name .content-name,
form input:valid + .label-name .content-name {
    transform: translateY(-100%);
    font-size: 14px;
    color: rgb(33,12,185);
}

form input:focus + .label-name::after,
form input:valid + .label-name {
    transform: translateX(0%);
}

/*checkbox*/
input[type="checkbox"] {
    position: relative;
    top: 10px;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    outline: none;
    transition: .5s;
}

input[type="checkbox"]:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid rgb(33,12,185);
    box-sizing: border-box;
    transition: .5s;
}

input:checked[type="checkbox"]:before {
    border-left: none;
    border-top: none;
    width: 15px;
    border-color: #ffc107;
    transform: rotate(45deg) translate(3px, -10px);
}

/*radio*/
.radio label input {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.radio label .icon {
    position: relative;
    width: 30px;
    height: 30px;
    top: 4px;
    line-height: 30px;
    text-align: center;
    margin: 0 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);
    color: #ffc107;
}

.radio label .icon:hover {
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8),
                inset -2px -2px 10px rgba(255,255,255,0.05),
                inset 2px 2px 10px rgba(0,0,0,0.5);
}

.radio label input:checked ~ .icon {
    color: rgb(33,12,185);
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.1),
                inset 2px 2px 6px rgba(0,0,0,1);
}

/*page transition animation*/
.page {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
}

.fade-appear, .fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 250ms linear;
}

/*load animation*/
#loadlogo path {
    stroke-dasharray: 1349;
    stroke-dashoffset: 1349;
    animation: logo-animation 3s ease;
    animation-iteration-count: infinite;
}

@keyframes logo-animation {
    to {
        stroke-dashoffset: 0;
    }
}

#loadlogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadcontainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    z-index: 3;
}