<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; padding: 0; margin: 0;">
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 2vh; box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f8f9fa; border-radius: 10%;">
            <h1>Tisztelt {{name}}!</h1>
            <br>
            <h3>Új jelszó beállítását kérelmezte, ehhez kérjük <a href={{link}}>kattintson ide!</a></h3>
            <br>
            <h3>Ha a kérelmet nem Ön nyújtotta be, akkor kérjük, hagyja figyelmen kívül ezt az üzenetet.</h3>
            <br>
            <small>Ez az email cím automatikus üzenetek küldésére szolgál, kérjük, erre az üzenetre NE válaszoljon!</small>
        </div>
    </body>
</html>